/*
container 
    row
        columns
*/

.nav-item {
    float: right;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;
}

.title-work,
.title-skills,
.title-about {
    font-size: 2em;
}


